{%extends 'base.html' %}

{%block title%}
Contact
{%endblock title%}
{%block body%}
<div class="container-fluid px-0">
  
          <img height="400" src="https://images.unsplash.com/photo-1596524430615-b46475ddff6e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100 mx-0" alt="...">
          <h1 class="text-center my-3" >Contact Us </h1>

<div class="container">
    <form method="post" action="/contactus">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name  ">
        </div>
        <div class="form-group">
            <label for="Email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter you email" name="email">
          </div>
        <div class="form-group">
            <div class="form-group">
                <label for="Email">Phone </label>
                <input type="phone" class="form-control" id="phone" placeholder="Enter you Phone" name="phone">
              </div>
        </div>
      
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Tell me about what you want to contact me for...</label>
          <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <button class=" container btn btn-primary">Submit</button>
      </form>
      
</div>
{%endblock body%}
